/*
 * GENERAL Y MAIN
 */
body {
	background-image: url('images/repetir_cabecera.png');
	background-repeat: repeat-x;
	font-family: sans-serif;
   color: #2e3436;
   background-color: #eeeeec;
}

form p span {
	margin-right: 10px;
}

h1 {
	background-image: url('images/cabecera.png');
	background-repeat: no-repeat;
}

p {
	text-indent: 20px;
}

ul li {
    text-indent: 0px;
}

#secciones li {
	text-transform: lowercase;
	font-weight: bold;
}

#secciones li a {
    text-decoration: none;
    color: #3465a4;
}

#secciones li a:hover {
	color: #204a87;
/*	text-transform: capitalize;*/
}

#loginInfo input {
	background-color: #eeeeec;
	color: #2e3436;
    border: 1px solid #2e3436;
}

#loginInfo label {
	font-size: 12px;
	float: right;
}

#loginInfo label.recordar {
	text-align: right;
}

#loginInfo a.rexistrarme {
/*	color: white;*/
	font-size: 12px;
}

#loginInfo li a:hover {
color: #204a87;
}

#loginInfo a.rexistrarme:hover {
	color: #eeeeec;
}

#loginInfo li {
	list-style-type: none;
	text-align: right;
	font-size: 12px;
}

#loginInfo li a {
	color: #eeeeec;
}

#extraDiv1 {
	background-image: url('images/footnote.png');
}

a {
	color: #204a87;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #3465a4;
}

/*
 * NOTICIAS Y MEDIO
 */
#medio {
	text-align: justify;
}

#medio #noticias h3.primera,#medio #noticias h3.segunda,#medio #noticias h3.tercera {
    color: #204a87;
}

#medio #noticias h3 a {
	color: #204a87;
	text-decoration: none;
}

#medio #noticias h3 a:hover {
	color: #3465a4;
}

#medio #noticias p {
	font-size: 13px;
}

#mensaje {
	border: 1px dotted #b02b2c;
	background-color: #da6667;
	color: white;
	font-weight: bold;
	text-align: center;
}

#foro h3.cuarta, #foro h3.segunda, #noticia_comentando h3.segunda,#noticias h3.segunda {
	font-size: 12px;
}

#foro h3.tercera, #noticia_comentando h3.tercera,#noticias h3.tercera {
	font-size: 12px;
}


#noticias a.leermas,#noticias a.comentarios {
	font-size: 13px;
	font-weight: bold;
	color: #204a87;
}

#noticias a.leermas:hover,#noticias a.comentarios:hover {
	color: #3465a4;
}


/*
 * RESPUESTAS
 */
#foro #repuestas h4.primera, #noticias #respuestas h4.primera {
	font-size: 14px;
}

#foro #respuestas h4.primera a, #noticias #respuestas h4.primera a {
/*    color: white;*/
}


#foro #respuestas h4.segunda, #noticias #respuestas h4.segunda {
	font-size: 12px;
}

#foro #respuestas h4.tercera, #noticias #respuestas h4.tercera {
	font-size: 12px;
}

#foro .respuesta, #noticias .respuesta {
	border: 1px dotted #204a87;
	background-color: #729fcf;
	color: white;
	text-align: justify;
}


/*
 * LINKS
 */
#links {
    list-style-type: upper-roman;
}


/*
 * CREDITOS
 */
#creditos {
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
	color: #729fcf;
	font-style: italic;
}

/*
 * BLOGS
 */
#blogs ul li {
list-style-type: none;
margin-right: 10px;
}

td.comentarios {
text-align: center;
}

#noticias .noticia {
padding-bottom: 20px;
border-bottom: 2px dotted #2e3436;
}

h3.subir {
background-image: url('images/subir.png');
}

h3.borrar {
background-image: url('images/borrar.png');
}

h3.editar {
background-image: url('images/editar.png');
}

h3.bajar {
background-image: url('images/bajar.png');
}

#medio a {
color: #cc0000 !important;
}

#medio a:hover {
color: #ef2929 !important;
}

h3.segunda, h3.tercera, h3.cuarta {
color: #cc0000 !important;
}

#galeria li.fichero {
list-style-type: none;
clear: right;
margin-right: 5px;
padding-bottom: 0px;
margin-bottom: 20px;
min-height: 195px;
}

#galeria li.fichero img {
margin-bottom: -3px;
border: 10px solid #2e3436;
border-bottom: 30px solid #2e3436;
}


/* Para hacer la nube de tags este valor cambia: numMin,num0,num1,num2,num3...num9,numMax -> son valores relativos dependiendo de las noticias de todos los blogs */
#blogs a.numMin, #links a.nunMin { font-size: 13px; }
#blogs a.num0, #links a.num0 { font-size: 15px; }
#blogs a.num1, #links a.num1 { font-size: 17px; }
#blogs a.num2, #links a.num2 { font-size: 19px; }
#blogs a.num3, #links a.num3 { font-size: 21px; }
#blogs a.num4, #links a.num4 { font-size: 23px; }
#blogs a.num5, #links a.num5 { font-size: 25px; }
#blogs a.num6, #links a.num6 { font-size: 27px; }
#blogs a.num7, #links a.num7 { font-size: 29px; }
#blogs a.num8, #links a.num8 { font-size: 31px; }
#blogs a.num9, #links a.num9 { font-size: 33px; }
#blogs a.numMax, #links a.numMax { font-size: 33px; font-weight: bold;}